*{margin:0;padding:0;box-sizing:border-box;font-family:'Lexend Deca',sans-serif;}
body{background:#0000a3;color:#ffffff;width:100%;min-height:100vh;display:flex;justify-content:center;align-items:center;}
